<!-- dashboard.component.html -->
<div class="container-fluid mb-4">
  <div class="row">

    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky sidebar-sticky">
        <div class="logo-wrap text-center">
          <a href class="back-home-link" style="color: #f84e10; font-size: 28px;">Eventive</a>
        </div>
        <ul class="nav flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span class="material-symbols-outlined">home</span> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="material-symbols-outlined">draft</span> Online Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="material-symbols-outlined">shopping_cart</span> Offline Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-user"></i></i><span> Customers</span></a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-solid fa-chart-column"></i></i><span> Analytics</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-message"></i></i><span> Feedback </span></a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-file-lines"></i></i><span> Current month </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-file-lines"></i></i><span> Last quarter </span></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
  </div>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1 class="h2 my-4">Dashboard</h1>
    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-4 row-stats">
      <div class="col">
        <a href="#" class="h-primary-outline">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-activity" viewBox="0 0 15 15">
                    <path fill-rule="evenodd"
                      d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                  </svg>
                </div>
                <div class="col-md-10">
                  <h3 class="h5">Total visitors</h3>
                  <p>Last 24 Hours</p>
                  <p class="m-0 text-muted"> 2,524</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="h-primary-outline">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-activity" viewBox="0 0 15 15">
                    <path fill-rule="evenodd"
                      d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                  </svg>
                </div>
                <div class="col-md-10">
                  <h3 class="h5">Total visitors</h3>
                  <p>Last week</p>
                  <p class="m-0 text-muted"> 5,624 </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="h-primary-outline">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-activity" viewBox="0 0 15 15">
                    <path fill-rule="evenodd"
                      d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                  </svg>
                </div>
                <div class="col-md-10">
                  <h3 class="h5">Total visitors</h3>
                  <p>Last month</p>
                  <p class="m-0 text-muted">10,024 </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="h-primary-outline">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-activity" viewBox="0 0 15 15">
                    <path fill-rule="evenodd"
                      d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                  </svg>
                </div>
                <div class="col-md-10">
                  <h3 class="h5">Total visitors</h3>
                  <p> Last quarter</p>
                  <p class="m-0 text-muted">20,555 </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div><br>
    <div class="col-12 col-sm-8 col-md-12">
  <div class="card shadow-sm">
    <div class="card-body p-3">
      <h2 class="my-0 h3">Offline Recent Events</h2>
      <div class="table-responsive mt-4 mb-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Event Name</th>
              <th scope="col">Date</th>
              <th scope="col">Tickets</th>
              <th scope="col">Total Tickets</th>
              <th scope="col" class="Exit">Exit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Event of offlinePaginatedEvents; let i = index">
              <td>{{ Event.name }}</td>
              <td>{{ Event.date | date }}</td>
              <td>{{ Event.tickets }}</td>
              <td>{{ Event.totalTickets }}</td>
              <td class="Exit" style=" cursor: pointer;">
                <i class="fa-solid fa-trash-can" (click)="deleteRow('offline', (offlineCurrentPage - 1) * itemsPerPage + i)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Offline Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination mb-2">
          <li class="page-item" style="background-color: #f84e10;" [class.disabled]="offlineCurrentPage === 1">
            <a class="page-link"  href="#" (click)="switchOfflinePage(offlineCurrentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" style="background-color: #f84e10;" *ngFor="let page of [].constructor(offlineTotalPages); let i = index" [class.active]="offlineCurrentPage === (i + 1)">
            <a class="page-link"  style="background-color: white;" href="#" (click)="switchOfflinePage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item"  style="background-color: #f84e10;" [class.disabled]="offlineCurrentPage === offlineTotalPages">
            <a class="page-link" href="#" (click)="switchOfflinePage(offlineCurrentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<br>
<div class="col-12 col-sm-8 col-md-12">
  <div class="card shadow-sm">
    <div class="card-body p-3">
      <h2 class="my-0 h3">Online Recent Events</h2>
      <div class="table-responsive mt-4 mb-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Event Name</th>
              <th scope="col">Date</th>
              <th scope="col">Tickets</th>
              <th scope="col">Total Tickets</th>
              <th scope="col" class="Exit">Exit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of onlinePaginatedEvents; let i = index">
              <td>{{ event.name }}</td>
              <td>{{ event.date |date }}</td>
              <td>{{ event.tickets }}</td>
              <td>{{ event.totalTickets }}</td>
              <td class="Exit" style=" cursor: pointer;">
                <i class="fa-solid fa-trash-can" (click)="deleteRow('online', (onlineCurrentPage - 1) * itemsPerPage + i)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Online Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination mb-2">
          <li class="page-item" style="background-color: #f84e10;" [class.disabled]="onlineCurrentPage === 1">
            <a class="page-link" href="#" (click)="switchOnlinePage(onlineCurrentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" style="background-color: #f84e10;" *ngFor="let page of [].constructor(onlineTotalPages); let i = index" [class.active]="onlineCurrentPage === (i + 1)">
            <a class="page-link"  style="background-color: white;" href="#" (click)="switchOnlinePage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" style="background-color: #f84e10;" [class.disabled]="onlineCurrentPage === onlineTotalPages">
            <a class="page-link" href="#" (click)="switchOnlinePage(onlineCurrentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-3">
  <div class="text-danger bg-white text-center">
    {{errMsg}}
  </div>
  </div>
</div>
  </main>
</div>
<!-- </div> -->
<!-- ./container-fluid -->