<!-- dashboard.component.html -->
<div class="container-fluid mb-4">
  <div class="row">
 
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky sidebar-sticky">
        <div class="logo-wrap text-center">
          <a href class="back-home-link" style="color: #f84e10; font-size: 28px;">Eventive</a>
        </div>
        <ul class="nav flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span class="material-symbols-outlined">home</span> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="material-symbols-outlined">draft</span> Online Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="material-symbols-outlined">shopping_cart</span> Offline Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-user"></i></i><span> Customers</span></a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-solid fa-chart-column"></i></i><span> Analytics</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-message"></i></i><span> Feedback </span></a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-file-lines"></i></i><span> Current month </span></a>
          </li>
          <li class="nav-item">
      <a class="nav-link" href="#">
              <i class="icon"><i class="fa-regular fa-file-lines"></i></i><span> Last quarter </span></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
  </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h1 class="h2 my-4">Dashboard</h1>
      <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-4 row-stats">
        <div class="col">
          <a href="#" class="h-primary-outline">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-activity"
                      viewBox="0 0 15 15">
                      <path fill-rule="evenodd"
                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                    </svg>
                  </div>
                  <div class="col-md-10">
                    <h3 class="h5">Total visitors</h3>
                    <p>Last 24 Hours</p>
                    <p class="m-0 text-muted"> 2,524</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="#" class="h-primary-outline">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-activity"
                      viewBox="0 0 15 15">
                      <path fill-rule="evenodd"
                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                    </svg>
                  </div>
                  <div class="col-md-10">
                    <h3 class="h5">Total visitors</h3>
                    <p>Last week</p>
                    <p class="m-0 text-muted"> 5,624 </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="#" class="h-primary-outline">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-activity"
                      viewBox="0 0 15 15">
                      <path fill-rule="evenodd"
                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                    </svg>
                  </div>
                  <div class="col-md-10">
                    <h3 class="h5">Total visitors</h3>
                    <p>Last month</p>
                    <p class="m-0 text-muted">10,024 </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a href="#" class="h-primary-outline">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30"
                      height="30" fill="currentColor" class="bi bi-activity"
                      viewBox="0 0 15 15">
                      <path fill-rule="evenodd"
                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                    </svg>
                  </div>
                  <div class="col-md-10">
                    <h3 class="h5">Total visitors</h3>
                    <p> Last quarter</p>
                    <p class="m-0 text-muted">20,555 </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>  

        <br>
        <div class="col">
        <div class="row g-3 row-cols-1 row-cols-sm-4 row-cols-md-8 row-stats">
          <div class="col-12 col-sm-8 col-md-12">
            <div class="card shadow-sm">
              <div class="card-body p-3">
                <h2 class="my-0 h3">Offline recent events</h2>
                <div class="table-responsive mt-4 mb-2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Tickets</th>
                        <th scope="col">Total tickits </th>
                        <th scope="col" class="Exit">  Exit </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Giza event </td>
                        <td>30/9/2024</td>
                        <td>38</td>
                        <td>250</td>
                        <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                      </tr>
                      <tr>
                        <td>Cairo event</td>
                        <td>4/10/2024</td>
                        <td>65</td>
                        <td>200</td>
                        <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                      </tr>
                      <tr>
                        <td>Alexandria event</td>
                        <td>3/10/2024</td>
                        <td>98</td>
                        <td>300</td>
                        <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                      </tr>
                      <tr>
                        <td>New Alamein event</td>
                        <td>2/10/2024</td>
                        <td>562</td>
                        <td>600</td>
                        <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                      </tr>
                      <tr>
                        <td>Luxor</td>
                        <td>1/10/2024</td>
                        <td>965</td>
                        <td>1000</td>
                        <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination mb-2">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="col-12 col-sm-8 col-md-12">
          <div class="card shadow-sm">
            <div class="card-body p-3">
              <h2 class="my-0 h3">Online recent events</h2>
              <div class="table-responsive mt-4 mb-2">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Event Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Tickets</th>
                      <th scope="col">Total tickits </th>
                      <th scope="col" class="Exit">  Exit </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Giza event </td>
                      <td>9/10/2024</td>
                      <td>98</td>
                      <td>100</td>
                      <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    <tr>
                      <td>Cairo event</td>
                      <td>8/10/2024</td>
                      <td>256</td>
                      <td>300</td>
                      <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    <tr>
                      <td>Alexandria event</td>
                      <td>7/10/2024</td>
                      <td>657</td>
                      <td>700</td>
                      <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    <tr>
                      <td>New Alamein event</td>
                      <td>6/10/2024</td>
                      <td>320</td>
                      <td>350</td>
                      <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    <tr>
                      <td>Luxor</td>
                      <td>5/10/2024</td>
                      <td>200</td>
                      <td>200</td>
                      <td class="Exit"><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <nav aria-label="Page navigation example">
                <ul class="pagination mb-2">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
<!-- </div> -->
<!-- ./container-fluid -->
