body {
  background: #f7f7f7;
}

.logo-wrap {
  width: 75%;
  margin: 0 auto;
  max-width: 250px;

  .logo {
    width: 100%;
    max-width: 240px;
  }
}
.back-home-link {
  overflow: hidden;
  color: #D1410C;
  width: 110px;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: .25px;
  text-rendering: optimizeLegibility;
  transform: translate(0.347, 0);
}
.nav-link {
  transition: border-color 0.3s ease;
}

.nav-link:focus {
  border: 2px solid #D1410C;
}

.nav-link:focus-visible {
  outline: none; 
}

.nav-link.focused {
  border: 2px solid #D1410C;
}
.main-content {
  border: 2px solid transparent; /* Default border to transparent */
  padding: 10px;
}

.main-content.focused {
  border-color: #D1410C; /* The red color when focused */
  transition: border-color 0.3s ease-in-out;
}

.Exit{
  color: rgb(250, 71, 71);
}
a {
  color: #D1410C;
/* styles.css or app.component.css */
@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Adjust as necessary */
    height: 100vh;
    transition: transform 0.3s ease;
  }

  #sidebar.collapse {
    transform: translateX(-100%);
  }
}

  &.btn {
    &.btn-primary {
      background:  #D1410C;
      border-color: #D1410C;
      color: white;

      &:hover {
        background: darken( #D1410C, 3);
      }
    }
  }

  &.h-primary-outline {
    color: initial;

    &:hover {
      & > .card {
        border-color: #ee7d54;
      }
    }
  }
}

.card {
  border-color: rgba(#3A3A3A, 0.15);
}

.dropdown-usrn {
  margin-top: 0.25rem;
}


#sidebar-toggle {
  display: none;
}

#sidebar {
  background:rgb(15, 14, 14);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0 0;

  svg {
    max-width: 20px;
    margin-right: 2px;
    stroke: lighten(#D1410C, 40%);
  }
  .dashboard-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.6rem;
}
.card {
    cursor: pointer;
    background-color: white;
    padding: 20px;
    margin-top: 1rem;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #D1410C;
}

.card p {
    color:black;
    font-size: 24px;
    font-weight: bold;
}
.card span {
    color: black;
    font-size: 14px;
}
  ul {
    li {
      a {
        color: #ffffff;
        border-left: 3px solid transparent;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;

        &.active {
          border-left: 3px solid  #D1410C;
          ;
        }
      }
    }
  }
}

table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.row-stats {
  a {
    text-decoration: none;

    svg {
      fill: #f14000;
    }
  }
}

.search-group {
  position: relative;

  svg {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  input {
    padding-left: 40px;
  }
}

.page-link {
  color: #D1410C;
}


@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .dropdown-usrn {
    display: none;
  }

  .search-group {
    margin: 15px 0;
  }

  .row-stats {
    a {
      display: block;
    }
  }

  .mb-2-sm {
    margin-bottom: 20px !important;
  }

  #sidebar-toggle {
    background: #D1410C;
    display: inline-block;
    position: absolute;
    left: 6px;
    z-index: 99999;
    top: 15px;
    color: #fff;
    width: auto;
  }

  .search-group {
    margin-left: 40px;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
