.img{
  width: 50%;
    background-image: url("./../../../assets/images/Monster 404 Error-rafiki.png");
      background-size: cover;
      // background-position: center;
height: 500px;
border: 0;
padding: 0;
}