<div class="container-wrapper">
    <div class="back-home" style="position: absolute; top: 20px; left: 20px;">
    <a class="navbar-brand" id="title" routerLink="/home">Eventive</a>
    </div>
    <div class="form-container">
        <div class="event-content">
            <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">

                <div *ngIf="currentStep === 1" class="form-step active">
                    <div class="center-content mb-4">
                        <h1 class="part-one">Create your event with US</h1>
                        <p>Answer a few questions about your event and your details of it and We will use internal data to build an event page.We hope you have a wonderful experience with us</p>
                    </div>
                    <div class="footer d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-primary" (click)="nextStep()" >Next</button>
                    </div>
                </div>

               <div *ngIf="currentStep === 2" class="form-step">
                    <h2>What's the name of your event?</h2>
                    <P class="paragraph">
                        This will be your event's title. Your title will be used to help create your event's summary, description, category, and tags , so be specific! </P>
                    <div class="form-group mb-4">
                        <input type="text" formControlName="eventName" class="form-control" placeholder="Event title" required>
                        <div *ngIf="createEventForm.get('eventName')?.invalid && createEventForm.get('eventName')?.touched" class="text-danger">
                            Event title is required.
                        </div>
                    </div>
                    <h2>Upload Event Image</h2>
                    <br>
                    <input type="file" id="imageUpload" accept="image/*" (change)="onFileSelect($event)">
                    <div *ngIf="!imageSelected && currentStep === 2" class="text-danger">Image is required.</div>
                    <div class="d-flex justify-content-between mt-4" required>
                        <button type="button" class="btn btn-secondary padding-20px" (click)="prevStep()">Back</button><br>
                        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!imageSelected && currentStep === 2 ||createEventForm.get('eventName')?.invalid ">Next</button>
                    </div>
                </div>

                <div *ngIf="currentStep === 3" class="form-step">
                    <h2>When does your event start and end?</h2>
                    <div class="date-time-container row mb-4">
                        <div class="col-md-6 col-12 mb-2">
                            <label>Date</label>
                            <input type="date" formControlName="eventDate" class="form-control">
                            <div *ngIf="createEventForm.get('eventDate')?.invalid && createEventForm.get('eventDate')?.touched" class="text-danger" required> 
                                Event date is required.
                            </div>
                        </div>
                        <div class="col-md-3 col-6 mb-2">
                            <label>Start Time</label>
                            <input type="time" formControlName="startTime" class="form-control">
                            <div *ngIf="createEventForm.get('startTime')?.invalid && createEventForm.get('startTime')?.touched" class="text-danger" required>
                                Start time is required.
                            </div>
                        </div>
                        <div class="col-md-3 col-6 mb-2">
                            <label>End Time</label>
                            <input type="time" formControlName="endTime" class="form-control">
                            <div *ngIf="createEventForm.get('endTime')?.invalid && createEventForm.get('endTime')?.touched" class="text-danger" required>
                                End time is required.
                            </div>
                        </div>
                    </div>
                     <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-secondary padding-20px" (click)="prevStep()">Back</button><br>
                        <button type="button" class="btn btn-primary" (click)="nextStep()"  [disabled]="createEventForm.get('endTime')?.invalid ||createEventForm.get('startTime')?.invalid ||createEventForm.get('eventDate')?.invalid ">Next</button>
                    </div>
                </div>
                <div *ngIf="currentStep === 4" class="form-step">
                    <h2>About</h2>
                    <p>What do you want to put in the event description?</p>
                    <textarea id="eventDescription" class="form-control mb-4" placeholder="Destination" formControlName="about" required></textarea>
                    <div *ngIf="createEventForm.get('about')?.invalid" class="text-danger">description is required.</div>
                     <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-secondary padding-20px" (click)="prevStep()">Back</button><br>
                        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="createEventForm.get('about')?.invalid">Next</button>
                    </div>
                </div> 
                <div *ngIf="currentStep === 5" class="form-step">
                    <div class="d-flex justify-content-center">
                    <h2>What do you want the event to be?</h2></div>
                    <div class="eventbe" required>
                    <button class="Online">Online event </button>
                    <button class="Offline">Offline event </button></div>
                    <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-secondary padding-20px" (click)="prevStep()">Back</button><br>
                        <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
                    </div>
                </div>

             
                <div *ngIf="currentStep === 6" class="form-step">
                    <h2>Where is it located?</h2>
                    <input type="text" formControlName="location" class="form-control mb-3" placeholder="Location*" required>
                    <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-secondary" (click)="prevStep()">Back</button>
                        <button type="submit" class="btn btn-primary">Create Event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
