<div class="input-container"></div>
<label for="capacity" class="capacity-for-event">What's the capacity for your event?</label>
<p class="description">Event capacity is the total number of tickets you're willing to sell.</p>
<div class="input-wrapper">
  <label for="capacity">Total capacity <span class="required">*</span></label>
  <input type="number" class="capacity" placeholder="0" min="0">
</div>
<!-- <div class="footer-strap">
      <button class="button-26" role="button">Exit</button>
      <button class="button-26" role="button">create event</button>
  </div> -->