<app-navbar></app-navbar>
<div class="container my-5">
  <div class="eventImg m-auto mb-5">
    <img class="rounded" src="https://images.pexels.com/photos/716276/pexels-photo-716276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="event image" width="100%">
  </div>
  <div class="row">

    <div class="text col-md-9 col-12">
      <h6>Saturday, October 19</h6>
      <h2 class="fw-bolder mb-4">Mysteries of the Pyramids</h2>
      <p class="mb-4">Join us for an exclusive evening at the Great Pyramids of Giza, where history, culture, and
        adventure come together for an unforgettable experience.</p>
      <h4 class="mb-3">Date and Time</h4>
      <p class="fw-medium mb-4">
        <i class="fa-solid fa-calendar-days me-2" style="color: #cc3f24"></i>
        Saturday, October 19 · 5pm - 8pm
      </p>

      <h4 class="mb-3">Location</h4>
      <p class="fw-medium">
        <i class="fa-solid fa-location-dot me-2" style="color: #cc3f24;"></i>
        Great Pyramids of Giza, Giza Plateau, Egypt
      </p>

      <h4 class="mb-4">Agenda</h4>
      <div class="rounded my-3" style="background-color: #fff4f1;">
        <div class="text p-3">
          <p class="fw-medium ">
            5:00 PM – 5:30
          </p>
          <h5>Welcome & Registration</h5>
          <p>Guests arrive and register at the main entrance to the Pyramids, greeted with complimentary drinks and
            snacks while receiving their event passes.</p>
        </div>
      </div>

      <div class="rounded my-3" style="background-color: #eff3f6;">
        <div class="text p-3">
          <p class="fw-medium ">
            5:30 PM – 6:30
          </p>
          <h5>Guided Historical Tour</h5>
          <p>A guided tour led by expert Egyptologists through the Great Pyramid (Khufu), Pyramid of Khafre, and Pyramid
            of Menkaure.</p>
        </div>
      </div>

      <div class="rounded mb-4" style="background-color: #ebf7ec;">
        <div class="text p-3">
          <p class="fw-medium ">
            6:30 PM – 8:00
          </p>
          <h5>Dinner Under the Stars</h5>
          <p>A traditional Egyptian feast is served in a beautifully set outdoor dining area. Guests enjoy local cuisine
            while mingling with other attendees, surrounded by the grandeur of the Pyramids.</p>
        </div>
      </div>

      <h4 class="mb-3">About this Event</h4>
      <p>This event invites history enthusiasts, tourists, and local residents to explore the ancient wonders, discover
        their untold stories, and enjoy a magical night filled with guided tours, live performances, and a unique blend
        of entertainment under the stars.</p>

      <h4 class="mb-3">Additional Information:</h4>
      <ul>
        <li>Dress Code: Comfortable, casual attire with appropriate footwear for walking.</li>
        <li>This event is suitable for all ages.</li>
        <li>Safety and security are fully ensured throughout the event with designated guides and staff.</li>
      </ul>



    </div>


    <div class="col-md-3 col-12">
      <div class="text-center border rounded-4 p-3">
        <div class="my-2 fs-4 fw-medium">Free</div>
        <button class="btn col-12">Get Tickets</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>