<app-navbar></app-navbar>
<div class="container" *ngIf="latestEvent" >
  <div class=" mx-auto">
    <div id="verd" class=" container">
    <img class="d-flex p-2"
     [src]="latestEvent.eventImg"
      alt="event image">
    </div>
    <div class="text col-md-9 col-12">
     
      <h2 class="fw-bolder mb-4">{{latestEvent.eventName }}</h2>
      <p class="mb-4">{{ latestEvent.about }}</p>
      <h4 class="mb-3">Event date </h4>
      <p class="fw-medium mb-4">
        <i class="fa-solid fa-calendar-days me-2" style="color: #cc3f24"></i>
      {{ latestEvent.dateEvent }}
      </p>
      <h4>Date </h4>
      <p>{{ latestEvent.startTime }}{{ latestEvent.endTime }}</p>
      <h4 class="mb-3">Location</h4>
      <p class="fw-medium">
        <i class="fa-solid fa-location-dot me-2" style="color: #cc3f24;"></i>
      {{ latestEvent.eventAddress}}
      </p>

      
      <div class="rounded my-3" style="background-color: #fff4f1;">
        <div class="text p-3">
          <h4 class="mb-3">About this Event</h4>
          <p>{{ latestEvent.about }}</p>
      </div>
      </div>
    </div>

     


      
     



   
    <div class="col-md-3 col-12">
      <div class="text-center border rounded-4 p-3">
        <div class="my-2 fs-4 fw-medium">{{event.eventPrice}}</div>
        <button class="btn col-12" routerLink="/payment">Get Tickets</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
