<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<section class="h-100 gradient-form border-0" style="background-color: #eee;">
  <div class="card rounded-3 text-black border-0">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="card-body p-md-5 mx-md-4">

          <div class="">
            <!-- <h3 style="cursor: pointer; ;" id="title" routerLink="/home">eventive</h3> -->
            <h1 class="mt-1 mb-5 pb-1" style="font-size: 52px; font-weight:700;">Log in</h1>
            <!-- {{registerForm.value | json}} -->
          </div>
          <!-- <div class="col-lg-4 d-none d-lg-flex align-items-start justify-content-start">
            <div class="back-home">
              <h3 routerLink="/home" class="back-home-link " transform="translate(0.347)"
                style="color: #D1410C; font-size: 34px;">Eventive</h3>
            </div>
          </div> -->

          <form #registerForm="ngForm" novalidate  (ngSubmit)="(registerForm)" >
            <!-- <div class="">
               <h3 style="cursor: pointer; ;" id="title" routerLink="/home">eventive</h3>
              <h1 class="mt-1 mb-5 pb-1" style="font-size: 52px; font-weight:700;">Log in</h1>
              {{registerForm.value | json}}
            </div> -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form2Example11" class="form-control"
                placeholder="Phone number or email address"email="email" [(ngModel)]="userModel.email" #email="ngModel"
                 required
              [class.is-invalid]="email.invalid && email.touched"
                 />
              <small *ngIf="email.invalid && email.touched" class="text-danger">Email address  is required</small>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="form2Example22" class="form-control" placeholder="Password"  name="password" 
              [(ngModel)]="userModel.password" 
              required
              #password="ngModel"
              required
              [class.is-invalid]="password.invalid && password.touched"
              />
            <small *ngIf="password.invalid && password.touched" class="text-danger">password is required</small>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button data-mdb-button-init data-mdb-ripple-init id="btn"
                class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Log
                in</button>
              <div>
                <a class="text-muted" href="#!">Forgot password?</a>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">Don't have an account?</p>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" routerLink="/signup">Create
                new</button>
            </div>

          </form>

        </div>
      </div>
      <div class="col-lg-6  gradient-custom-2" id="dead">
        <!-- <div class="text-white px-3 py-4 p-md-5 mx-md-4">d-flex align-items-center
        </div> -->
        <img src="https://media.licdn.com/dms/image/C4D12AQHbZcwEIPAiJw/article-cover_image-shrink_720_1280/0/1552242735605?e=2147483647&v=beta&t=OdrzR2Hebx8NGuiJsisfTnRA5AQRnZ-T2UPDjjDfUD0" style="border-radius: 15px;  height:550px;">
      </div>
    </div>
  </div>
  


