#dead img{
  /* fallback for old browsers 
  background: #fccb90;

  Chrome 10-25, Safari 5.1-6 
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
  // background-image: src("/src/assets/alexandre-pellaes-6vajp0pscx0-unsplash-1-1.jpg");
  // background-size: cover;
  // background-position: center;
  height:100vh;
  /* Ensure the div has height */
  width: 100%;

}



h3{
  color: #d1410c;
}
.back-home-link {
  overflow: hidden;
  color: #D1410C;
  width: 110px;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: .25px;
  text-rendering: optimizeLegibility;
  transform: translate(0.347, 0);
}
.righteous-regular {
  font-family: "Righteous", system-ui;
  font-weight: 400;
  font-style: normal;
}

#btn {
  width: 100%;
  background-color: #d1410c;
  border: 0;
}

#title {
  font-family: "Righteous", system-ui;
  font-weight: 300;
  color: #f85215;
}

.text-white {
  background-color: transparent;
}


@media (min-width: 768px) {

}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}