<!-- <app-navbar></app-navbar>
  <app-events></app-events>
<app-destination></app-destination>
<app-trends></app-trends>
<app-popular-cities></app-popular-cities>
 <app-footer></app-footer> -->



 <!-- <app-navbar></app-navbar>
 <app-login></app-login>
 <app-footer></app-footer> -->


  <!-- <app-navbar></app-navbar>
  <app-signup></app-signup>
  <app-footer></app-footer> -->

<!-- <app-navbar></app-navbar>
  <app-tickets></app-tickets>
  <app-footer></app-footer> -->


<!-- <app-navbar></app-navbar>
<app-destination></app-destination>
<app-trends></app-trends>
<app-popular-cities></app-popular-cities>
<app-footer></app-footer> -->
<!-- Home page -->
<!-- <app-navbar></app-navbar>
<app-carousel></app-carousel>>
<app-events></app-events>
<app-destenations></app-destenations>
<app-popular-cities></app-popular-cities>
<app-footer></app-footer> -->

<!-- Search event page --> 
 <!-- <app-navbar></app-navbar>
<app-search-evevnt></app-search-evevnt>
<app-footer></app-footer> -->

<!-- create an event -->
 <!-- <app-create-an-event></app-create-an-event> -->

<router-outlet></router-outlet>