<!-- Main Content Wrapper -->
<app-navbar></app-navbar>
<h1 id="likes">Likes</h1>
<div class="container">
  <!-- Header Title -->



  <!-- Icon and Message Section -->
  <div class="message">
    <!-- Placeholder Icon -->
    <div class="icon-container">
      <!-- Image or Icon Here -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Font_Awesome_5_solid_scroll.svg" alt="Icon">
      <div *ngIf="likedEvents.length === 0">
         <p class="main-text">Add events, share with friends!</p>
         <p class="sub-text">Easy peasy.</p>
      </div>
    </div >
      <h5>{{ event.title }}</h5>
      <p>{{ event.description }}</p>
      <p>{{ event.date }}</p>
  </div>
</div>
<app-footer></app-footer>
