<!-- Main Content Wrapper -->
 <app-navbar></app-navbar>
<h1 id="likes">Likes</h1>
<div class="container">
  <!-- Header Title -->



  <!-- Icon and Message Section -->
  <div class="message">
    <!-- Placeholder Icon -->
    <div class="icon-container">
      <!-- Image or Icon Here -->
      <img src="../../../assets/images/scroll-icon.png" alt="Icon">
    </div>
    <!-- Message Text -->
    <p class="main-text">Add events, share with friends!</p>
    <p class="sub-text">Easy peasy.</p>
  </div>
</div>
<app-footer></app-footer>