<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-0" id="navbar"> -->
  <nav class="navbar navbar-expand-lg d-grid p-2" id="navbar">
    <div class="div1">
      <a class="navbar-brand" id="title" routerLink="/home">Eventive</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      
    </div>
    <div class="div8">
      <button id="brgrbtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <div class="dropdown d-flex flex-row-reverse">
        <div class="dd">
          <i class="fa-regular fa-user me-2" style="font-size: 20px;"></i>
          <button (click)="toggleDropdown()" class="dropbtn">
          <h6 style="color: #fdfbfb; background-color: #fdfbfb;">guest</h6>
          </button>
          <!-- <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/737373/expand-arrow--v1.png"
            alt="expand-arrow--v1" /> -->
        </div>
        <div id="myDropdown" [ngClass]="{'show': isDropdownOpen}" class="dropdown-content">
          <a routerLink="/tickets">Tickets</a>
          <a routerLink="/like">Liked</a>
          <a routerLink="/loginPage">Log out</a>
          <a routerLink="/signup">Sign up</a>
        </div>
      </div>
        </span>
      </button>
    </div>
    <div class="div2">

      <form class="form-inline" id="search-bg">
        <input class="form-control mr-sm-2" type="search" placeholder="Search events" id="search-bar"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit" routerLink="/search-event">
          <img width="20" height="20" src="https://img.icons8.com/material-outlined/24/FFFFFF/search--v1.png"
            alt="search--v1" />
        </button>
      </form>
    </div>
    <div class="div4">
      <ul class="navbar-nav d-flex justify-content-around">
        <li class="nav-item ">
          <img width="20" height="20" src="https://img.icons8.com/windows/20/8f8f8f/plus.png" alt="plus" />
          <a class="nav-link" routerLink="/create-an-event">Create an event</a>
        </li>
        <li class="nav-item">
          <img width="20" height="20" src="https://img.icons8.com/material-outlined/20/8f8f8f/love-circled.png"
            alt="love-circled" />
          <a class="nav-link" routerLink="/like">likes</a>
        </li>
        <li class="nav-item">
          <img width="20" height="20" src="https://img.icons8.com/ios/20/8f8f8f/ticket--v1.png" alt="ticket--v1" />
          <a class="nav-link" routerLink="/tickets">Tickets</a>
        </li>
      </ul>
    </div>
    <div class="div5">
      <ul class="navbar-nav d-flex justify-content-around ">
        <div>
        <li class="nav-item">
          <img width ="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/login-rounded-right.png" alt="sign in"/>
          <a class="nav-link" routerLink="/loginPage">Sign In</a>
        </li>
        <!-- <li class="nav-item">
          <img width ="20" height="20" src="https://img.icons8.com/los-filled/50/e0000e/add-user-male.png" alt="sign up"/>
          <a class="nav-link" routerLink="/signup" >Sign Up</a>
        </li> -->
      </div>
      
      <!-- <div class="dropdown">
        <div class="dd">
          <i class="fa-regular fa-user me-2" style="font-size: 20px;"></i>
          <button onclick="myFunction()"   class="dropbtn">
            eventbrite&#64;gmail.com</button>
          <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/737373/expand-arrow--v1.png"
            alt="expand-arrow--v1" />
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home">manage my events</a>
          <a href="#home">tickets</a>
          <a href="#about">likes</a>
          <a href="#contact">logout</a>
        </div>
      </div> -->
      <div class="dropdown d-flex flex-row-reverse">
        <div class="dd">
          <i class="fa-regular fa-user me-2" style="font-size: 20px;"></i>
          <button (click)="toggleDropdown()" class="dropbtn">
            <!-- eventbrite&#64;gmail.com -->
             Guest
          </button>
          <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/737373/expand-arrow--v1.png"
            alt="expand-arrow--v1" />
        </div>
        <div id="myDropdown" [ngClass]="{'show': isDropdownOpen}" class="dropdown-content">
          <a routerLink="/tickets">Tickets</a>
          <a routerLink="/like">Liked</a>
          <a routerLink="/loginPage">Log out</a>
          <a routerLink="/signup">Sign up</a>
        </div>
      </div>
    </ul>
    </div>

  </nav>