.top-destination-card img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

h2 {
  color: #f85215;
}

.top-destination-card__overlay {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.top-destination-card {
  position: relative;
  margin-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #3A3247;
  border-radius: 50%;
  padding: 10px;
}