<app-navbar></app-navbar>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<section class="h-100 gradient-form border-0" style="background-color: #eee;">
  <div class="card rounded-3 text-black border-0">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="card-body p-md-5 mx-md-4">
<!-- 
          <div class="">
             <h3 id="title">eventive</h3> 
            <h1 class="mt-1 mb-5 pb-1" style="font-size: 52px; font-weight:700;">Sign Up</h1>
            {{registerPage.value | json}}
          </div> -->

          <form #registerPage="ngForm" novalidate (ngSubmit)="signUp(registerPage)">
          <div class="">
            <!-- <h3 id="title">eventive</h3> -->
            <h1 class="mt-1 mb-5 pb-1" style="font-size: 52px; font-weight:700;">Sign Up</h1>
            <!-- {{registerPage.value | json}} -->
          </div>

            <div class="form-outline mb-4">
              <input type="text" id="name" class="form-control" placeholder="First Name"
               name="name"
                [(ngModel)]="userModel.name" #name="ngModel"
                 required
              [class.is-invalid]="name.invalid && name.touched" />
              <small *ngIf="name.invalid && name.touched" class="text-danger">name is required</small>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="name2" class="form-control" placeholder="LastName"
               name="lastName"
                [(ngModel)]="userModel.lastName" #lastName="ngModel"
                 required
              [class.is-invalid]="lastName.invalid && lastName.touched"/>
               <small *ngIf="lastName.invalid && lastName.touched" class="text-danger">name is required</small>

            </div>

            <div class="form-outline mb-4">
              <input type="email" id="form2Example11" class="form-control" placeholder="Phone number or email address" 
              name="email"
               [(ngModel)]="userModel.email" #email="ngModel"
                 required
              [class.is-invalid]="email.invalid && email.touched" />
              <small *ngIf="email.invalid && email.touched" class="text-danger">email is required</small>

            </div>

            <div class="form-outline mb-4">
              <input type="password"  placeholder="Password" id="form2Example22" class="form-control" 
              name="password"
              [(ngModel)]="userModel.password"
              #password="ngModel"
              [class.is-invalid]="password.invalid && password.touched"
              required
              pattern="^\d{8}$"
              />
              <div *ngIf="password.invalid && password.touched" >
             <small *ngIf="password.errors?.['required']" class="text-danger">password is required</small>
             <small *ngIf="password.errors?.['pattern']" class="text-danger">password must be 8 digits</small>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form2Example222" class="form-control" placeholder="Repeat Password"
              name="RepeatPassword"
              [(ngModel)]="userModel.RepeatPassword"
              #RepeatPassword="ngModel"
              required
              [class.is-invalid]="RepeatPassword.invalid && RepeatPassword.touched"
              required
              pattern="^\d{8}$"/>
            <div *ngIf="RepeatPassword.invalid && RepeatPassword.touched">
              <small *ngIf="RepeatPassword.errors?.['required']" class="text-danger">password is required</small>
              <small *ngIf="RepeatPassword.errors?.['pattern']" class="text-danger">password must be 8 digits</small>
            </div>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
              <button data-mdb-button-init data-mdb-ripple-init id="btn" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" [disabled]="registerPage.invalid">Sign Up</button>
            </div>

            <div class="or-divider">or</div>

            <button class="btn btn-google">
              <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" width="30" alt="Google icon"> Sign in with Google
            </button>

            <button class="btn btn-facebook">
              <i class="fab fa-facebook"></i> Sign in with Facebook
            </button>

          </form>

          <span>Already have an account?
           <button class="btn btn-google"><a class="login-link text-left d-block mt-3 text-center" routerLink="/loginPage" style="list-style:none ;">Log in</a></button> 
           <!-- <button class="btn btn-google"><a href="#" class="login-link text-left d-block mt-3 text-center  ">Log in</a></button>  -->
          </span>

        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center gradient-custom-2" id="dead">
      <img
        src="https://media.licdn.com/dms/image/C4D12AQHbZcwEIPAiJw/article-cover_image-shrink_720_1280/0/1552242735605?e=2147483647&v=beta&t=OdrzR2Hebx8NGuiJsisfTnRA5AQRnZ-T2UPDjjDfUD0">
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
