#dead img {
  /* fallback for old browsers 
  background: #fccb90;

  Chrome 10-25, Safari 5.1-6 
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
  // background-image: url("/assets/images/alexandre-pellaes-6vajp0pscx0-unsplash-1-1.jpg");
  // background-size: cover;
  // background-position: center;
  height: 150vh;
  /* Ensure the div has height */
  width: 100%;

}


.righteous-regular {
  font-family: "Righteous", system-ui;
  font-weight: 400;
  font-style: normal;
}

#btn {
  width: 100%;
  background-color: #d1410c;
  border: 0;
}

#title {
  font-family: "Righteous", system-ui;
  font-weight: 300;
  color: #f85215;
}

.text-white {
  background-color: transparent;
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
.or-divider {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;

}

.or-divider::before {
  content: '';
  display: inline-block;
  width: 30%;
  border-bottom: 5px solid #ced4da;
  margin-right: 10px;
}

.or-divider::after {
  content: '';
  display: inline-block;
  width: 30%;
  border-bottom: 5px solid #ced4da;
  margin-left: 10px;
}

.btn-google,
.btn-facebook {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.btn-google {
  border: 1px solid #ced4da;
}

.btn-facebook {
  background-color: #1877f2;
  color: white;
}

.login-link {
  font-size: 20px;

}

.login-link:hover {
  color: #1877f2;
}