footer {
  background-color: #1e0a3c;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  color: #cbcbcb;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #dbdae3;
  font-size: 16px;
}

.footer-bottom a {
  color: #dbdae3;
  font-size: 15px;
}

.footer-column ul li a,
.footer-bottom a {
  text-decoration: none;
}