


<!-- <app-carousel></app-carousel>
<app-events></app-events>
<app-destenations></app-destenations>
<app-popular-cities></app-popular-cities>
<app-footer></app-footer> -->

<!-- Search event page --> 
 <!-- <app-navbar></app-navbar>
<app-search-evevnt></app-search-evevnt>
<app-footer></app-footer> -->

<!-- create an event -->
 <!-- <app-create-an-event></app-create-an-event> -->

<!-- Search event page -->
 <!-- <app-events></app-events> -->
 <!-- <app-navbar></app-navbar>
 <app-carousel></app-carousel>

<app-events></app-events>

<app-destenations></app-destenations>

<app-popular-cities></app-popular-cities>

<app-footer></app-footer>  -->

<router-outlet></router-outlet>
