<app-navbar></app-navbar>
<div class="container my-5">
<div class="container">
  <div class="row align-items-center">
    <!-- Event Image (Responsive) -->
    <div class="col-md-8 col-12">
      <img class="rounded img-fluid w-100" 
           src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F452393759%2F404056442963%2F1%2Foriginal.20210218-165459?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=85531d5088dc568da0506afc5f665075"
           alt="event image" style="object-fit: cover; width: 100%; max-height: 450px;">
    </div>

    <!-- Ticket Info -->
    <div class="col-md-4 col-12">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-center border rounded-1 p-3 w-75">
          <div class="my-2 fs-4 fw-medium">Free</div>
          <button class="btn col-12" routerLink="tickets">Get Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">

    <div class="text col-md-9 col-12">
      <h6>Saturday, October 21</h6>
      <h2 class="fw-bolder mb-4">Today's RDH Virtual Dental Continuing Education (CE) Event - Oct.
        19, 2024</h2>
      <p class="mb-4">Join us for an exclusive Virtual evening about dentistry and its Continuing education  </p>
      <h4 class="mb-3">Date and Time</h4>
      <p class="fw-medium mb-4">
        <i class="fa-solid fa-calendar-days me-2" style="color: #cc3f24"></i>
        Sat, Oct 21 • 11:00 AM GMT+3
      </p>

      <h4 class="mb-3">Location</h4>
      <p class="fw-medium">
        <i class="fa-solid fa-location-dot me-2" style="color: #cc3f24;"></i>
        Online via zoom meeting
      </p>

      <h4 class="mb-4">Agenda</h4>
      <div class="rounded my-3" style="background-color: #fff4f1;">
        <div class="text p-3">
          <p class="fw-medium ">
            11:30 PM – 1:30
          </p>
          <h5>Welcome & Registration</h5>
          <p>introducing our speakers and giving a brief about the event.</p>
        </div>
      </div>

      <div class="rounded my-3" style="background-color: #eff3f6;">
        <div class="text p-3">
          <p class="fw-medium ">
            2:00 PM – 3:30
          </p>
          <h5>Guided Historical Tour</h5>
          <p>speaking about the history of dentistry .</p>
        </div>
      </div>

      <div class="rounded mb-4" style="background-color: #ebf7ec;">
        <div class="text p-3">
          <p class="fw-medium ">
            3:30 PM – 4:00
          </p>
          <h5>Questions and discussing</h5>
          <p>discussing with members about the event and listen to their questions</p>
        </div>
      </div>

      <h4 class="mb-3">About this Event</h4>
      <p>This event invites all dentists , dental students and anyone has intesting about dentistry</p>

      <h4 class="mb-3">Additional Information:</h4>
      <ul>
        <li>Dress Code: formal or semi-formal</li>
        <li>This event is suitable for all ages.</li>
        <li>Safety and security are fully ensured throughout the event with designated guides and staff.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>