<footer class="text-white p-5">
  <div class="container">
    <div class="row">
      <nav class="footer-column col-12 col-md-4">
        <h3 class="mb-3">Use Eventbrite</h3>
        <ul class="p-0">
          <li><a href="#">Create Events</a></li>

          <li><a href="#">Your Tickets</a></li>

          <li><a href="#">Search Event</a></li>
        </ul>
      </nav>

      <nav class="footer-column col-12 col-md-4">
        <h3 class="mb-3 ">Find Events</h3>
        <ul class="p-0">

          <li><a href="#">Cairo Events</a></li>
          <li><a href="#">Alexandria Events</a></li>

        </ul>
      </nav>
      <nav class="footer-column col-12 col-md-4">
        <h3 class="mb-3 ">Connect With Us</h3>
        <ul class="p-0">

          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer-bottom text-md-center mt-3 text-light fs-6">
    <p>&copy; 2024 Eventbrite</p>

    <a href="#" class="me-4">Home</a>
    <a href="#" class="me-4">About</a>
    <a href="#">Help</a>


  </div>
</footer>